.addtask{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.addtask input{
    height: 30px;
    width: 200px;
    background: var(--color-info-light);
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
.addtask button{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background: var(--color-primary);
}